
   <div class="" *ngIf="loading">
    <mat-progress-spinner
    class="sipinner"
    [color]="color"
    [mode]="mode"
    [value]="value">
</mat-progress-spinner>
  </div>
<router-outlet></router-outlet>
