

<style>
  body{
    background: #efefef;


  }
</style>


<body>
<!--<div class="container-flex">-->

    <div class="navbar">
      <div class="menugauche">
            <ul class="left">
                <li>Contact</li>
                <span class="vertical-line" style="position: inherit;
              "></span>
            </ul>
      </div>
      <div class="menudroit">
        <ul class="rigth">
            <span class="vertical-line"></span>
            
            <a href="#" type="button"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"  class="nav-link a">
              <i class="far fa-bell fa-2x" aria-hidden="true"></i>
            </a>
           <!-- <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" ></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                    <div class="modal-body">


                        <div class="notification">
                            <h6>MES NOTIFICATIONS</h6>
                            <hr style="border: solid 2px black;" >
                            <div class="element">
                                <ul>
                                    <li>
                                      <i class="fa fa-barcode" aria-hidden="true"></i>
                                        Vous avez <strong>0</strong> commande a traiter
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                      <i class="fa fa-check" aria-hidden="true"></i>
                                        Vous avez <strong>0</strong> commande en attente d'acceptation
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                      <i class="fa fa-truck" aria-hidden="true"></i>
                                        Vous avez <strong>0</strong> commande a expedier
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                      <i class="fa fa-commenting" aria-hidden="true"></i>
                                        Vous avez <strong>0</strong> reclamation
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="actualite">
                            <h6>ACTUALITES</h6>
                            <hr style="border: solid 2px black;">
                            <ul>
                                <li>
                                  <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                    Vous avez <strong>0</strong> Nouvelle actualise
                                </li>
                            </ul>
                        </div>


                    </div>
                  </div>
              </div>
            </div>
            -->
        </ul>
      </div>
    </div>

  <div class="d-flex align-items-start">

    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <img src="assets/image/logoblanc.png" alt="" class="logo">


      <button class="nav-link  link active" id="v-pills-clipart-tab" data-toggle="pill" data-target="#v-pills-clipart" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
        <i class="fa fa-file-image fa-2x"></i> Cliparts
      </button>
      <button class="nav-link  link " id="v-pills-font-tab" data-toggle="pill" data-target="#v-pills-font" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
        <i class="fa fa-font fa-2x"></i> Font
      </button>
      <button class="nav-link  link " id="v-pills-forme-tab" data-toggle="pill" data-target="#v-pills-forme" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
        <i class="fa fa-cube fa-2x"></i> Forme
      </button>
      <button class="nav-link  link " id="v-pills-color-tab" data-toggle="pill" data-target="#v-pills-color" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
        <i class="fas fa-tint fa-2x"></i> Couleurs
      </button>

      <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 30px;border: 0;background: #fab91a; color: #fff; font-size: 15px; width: 100px;">
        <i class="fa fa-file-upload fa-2x"></i>LES PRODUITS</button>
        <div class="dropdown-menu">
          <a class="dropdown-item nav-link dr" id="v-pills-affiche-tab" data-toggle="pill" data-target="#v-pills-affiche"  role="tab" aria-controls="v-pills-home" aria-selected="true" href="#" style="width: 90%;">Affichages</a>
          <a class="dropdown-item nav-link de" id="v-pills-gadget-tab" data-toggle="pill" data-target="#v-pills-gadget"  role="tab" aria-controls="v-pills-home" aria-selected="true"  href="#" style="width: 90%;">Gadgets</a>
          <a class="dropdown-item nav-link da" id="v-pills-vetements-tab" data-toggle="pill" data-target="#v-pills-vetements"  role="tab" aria-controls="v-pills-home" aria-selected="true"  href="#" style="width: 90%;">Vêtements</a>
          <a class="dropdown-item nav-link do" id="v-pills-imprime-tab" data-toggle="pill" data-target="#v-pills-imprime"  role="tab" aria-controls="v-pills-home" aria-selected="true"  href="#" style="width: 90%;">Imprimés</a>
          <a class="dropdown-item nav-link di" id="v-pills-emballage-tab" data-toggle="pill" data-target="#v-pills-emballage"  role="tab" aria-controls="v-pills-home" aria-selected="true"  href="#" style="width: 90%;">Emballage</a>
        </div>
      <hr class="h" style="background-color: #fff;">
      <button  class="btn link" type="submit" role="tab"  data-toggle="pill"   aria-selected="false" style="color: #fff;" (click)="logout()">Deconnexion</button>

    </div>
    <div class="tab-content" id="v-pills-tabContent">
      <!-- clipart -->
      <div class="content tab-pane fade show active" id="v-pills-clipart" role="tabpanel" aria-labelledby="v-pills-clipart-tab">
        <div class="header">
          <h2>
            Ajouter un Clipart
          </h2>
        </div>
        <form action="">
          <div class="form-group">
            <span>Nom</span>
            <div class="form-content">
              <input type="text" name="clipname" id="clipartname" [(ngModel)]="clipart.name">
            </div>
          </div>
       <div class="form-group">
            <span>Upload clipart</span>
            <div class="form-content">
              <div class="upload">
                <input type="file" name="clipurl" id="cliparturl" (change)="handlechange($event)">
                <!-- <button class="btn btn-danger">Supprimer</button> -->
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="" *ngIf="loading">
              <mat-progress-spinner
              class="sipinner"
              [color]="color"
              [mode]="mode"
              [value]="value">
          </mat-progress-spinner>
            </div>
            
            <button class="btn validation" (click)="saveClipart()">Enregistrer Clipart</button>
          </div>
        </form>
      </div>
      <!-- fin clipart -->

      <!-- font -->
      <div class="content tab-pane fade" id="v-pills-font" role="tabpanel" aria-labelledby="v-pills-font-tab">
        <div class="header">
          <h2>
            Ajouter une Police
          </h2>
        </div>
        <form action="">
          
          <div class="form-group">
            <span>Nom</span>
            <div class="form-content">
              <input type="text" name="fontname" [(ngModel)]="fonts.name">
            </div>
          </div>
          <div class="form-group">
            <span> Font url</span>
            <div class="form-content">
              <input type="text" name="fonturl" [(ngModel)]="fonts.url">
            </div>
          </div>

          <div class="form-group">
            <div class="" *ngIf="loading">
              <mat-progress-spinner
              class="sipinner"
              [color]="color"
              [mode]="mode"
              [value]="value">
          </mat-progress-spinner>
            </div>
            <button class="btn validation" (click)="savefont()">Enregistrer la police</button>
          </div>
        </form>
      </div>
      <!-- fin font -->

        <!-- forme -->
        <div class="content tab-pane fade" id="v-pills-forme" role="tabpanel" aria-labelledby="v-pills-forme-tab">
          <div class="header">
            <h2>
              Ajouter une Forme
            </h2>
          </div>
          <form action="">
            <div class="form-group">
              <span>Nom</span>
              <div class="form-content">
                <input type="text" name="shapename" id="chpname" [(ngModel)]="shape.name">
              </div>
            </div>
            <div class="form-group">
              <span> 
                  Upload shape              </span>
              <div class="form-content">
                <input type="file" name="shape" id="shapid" (change)="handlechange($event)" >
              </div>
            </div>
          
            <div class="form-group">
              <div class="" *ngIf="loading">
                <mat-progress-spinner
                class="sipinner"
                [color]="color"
                [mode]="mode"
                [value]="value">
            </mat-progress-spinner>
              </div>
              <button class="btn validation" (click)="saveshape()">Enregistrer la forme</button>
            </div>
          </form>
        </div>
        <!-- fin forme -->

        <!--
          color
        -->
        <div class="content tab-pane fade" id="v-pills-color" role="tabpanel" aria-labelledby="v-pills-color-tab">

          <div class="header">
            <h4 class="text-center">
              Ajouter une couleur
            </h4>
          </div>
          <br><br>
          <div class="container">
            <div class="col-g-4 col-sm-4 col-md-4">
              <color-sketch (onChange)="changeComplete($event)"></color-sketch>
            </div>
          <div class="col-g-4 col-sm-4 col-md-4">
            <div class="card" id="card">
              <div class="card-body">
                <h5 class="card-title">{{cardcolor}}</h5>
                <a  class="btn btn-primary" (click)="savecolor()"><span *ngIf="loading==false"> save</span>
                          <span class="spinner-grow spinner-grow-sm text-warning" role="status" aria-hidden="true"  *ngIf="loading"></span>
                  <span *ngIf="loading" class="text-white text-small">Loading...</span> </a>
              </div>
            </div>  
          </div>
          </div>
         
      </div>
<!--end color-->
        <!-- affichage -->
        <div class="content tab-pane fade" id="v-pills-affiche" role="tabpanel" aria-labelledby="v-pills-affiche-tab" >
            <div class="header">
              <h4 class="text-center">
                Ajouter un produit d'affichage
              </h4>
            </div>
            <form action="">
              <div class="form-group">
                <span>Nom</span>
                <div class="form-content">
                  <input type="text" name="name_diplay" [(ngModel)]="dispdata.name_display">
                </div>
                <h6 style="margin-left: 50%;">categorie</h6>
                  <select name="categorydisp" id="catdisp"  style="margin-left: 50%;" (change)="getcat($event)" > 

                  </select>

              </div>
              <div class="form-group">
                <span>Description</span>
                <div class="form-content">
                  <textarea name="dispcomment" id="" cols="60" rows="auto" required [(ngModel)]="dispdata.comment"></textarea>
                </div>
              </div>
              <div class="form-group">
                <span>Prix</span>
                <div class="form-content">
                  <input type="number" required name="disprice" [(ngModel)]="dispdata.price">
                </div>
              </div>
              <div class="form-group">
                <span>Dimension</span>
                <div class="form-content">
                  <input type="number" name="dimdp" [(ngModel)]="dispdata.dim">
                </div>
              </div>
        

              <div class="form-group">
                <span>Upload Design</span>
                <div class="form-content">
                  <hr>
                  <h6>faces avant</h6>
                  <div class="upload">
                    <input type="file"  name="dispfile1" id="dispfile1" required (change)="ondispfile1Upload($event)">
                  </div>

                  <br><br>
                  <br>

                  <div class="upload">
                    <input type="file"  name="dispfile2" id="dispfile2" required (change)="ondispfile2Upload($event)">
                  </div>
                  <br>
                  <br>
              
                  <hr>
                  <h6>faces arrières</h6>

                <div class="upload">
                  <input type="file"  name="dispfile3" id="dispfile3" required (change)="onfileupload3($event)">
              </div>
            <br><br>
                                  <br>
                <div class="upload">

                  <input type="file"  name="dispfile4" id="dispfile4" required (change)="onfileupload4($event)">
                </div>

              </div>

              </div>
              <div class="form-group">
                <div class="" *ngIf="loading">
                  <mat-progress-spinner
                  class="sipinner"
                  [color]="color"
                  [mode]="mode"
                  [value]="value">
              </mat-progress-spinner>
                </div>
                <button hidden data-target=".editor" data-toggle="modal" id="d"></button>

                <a  class="btn validations"  (click)="Insertdisp()">Enregistrer</a>
              </div>
            </form>
        </div>
        <!--fin affichage -->


        <!-- gadgets -->
       
        
        <div class="content tab-pane fade" id="v-pills-gadget" role="tabpanel" aria-labelledby="v-pills-gadget-tab">

          <div class="header">
            <h4 class="text-center">
              Ajouter un gadget
            </h4>
          </div>
          <form action="">
            <div class="form-group">
              <span>Nom</span>
              <div class="form-content">
                <input type="text" name="name_gadget" [(ngModel)]="gadgetdata.name_gadget">
              </div>
              <h6 style="margin-left: 50%;">categorie</h6>
                <select name="gadcategory" id="catgad"  style="margin-left: 50%;" (change)="getcat($event)">

                </select>

            </div>
            <div class="form-group">
              <span>Description</span>
              <div class="form-content">
                <textarea name="gadgetcomment" id="" cols="60" rows="auto" required [(ngModel)]="gadgetdata.comment"></textarea>
              </div>
            </div>
            <div class="form-group">
              <span>Prix</span>
              <div class="form-content">
                <input type="number" required name="gadgetprice" [(ngModel)]="gadgetdata.price">
              </div>
            </div>
            <div class="form-group">
              <span>Upload Design</span>
              <div class="form-content">
                <hr>
                <h6>faces avant</h6>
                <div class="upload">
                  <input type="file"  name="gadfile1" id="gadfile1" required (change)="ondispfile1Upload($event)">
                </div>

                <br><br>
                <br>

                <div class="upload">
                  <input type="file"  name="gadfile2" id="gadfile2" required (change)="ondispfile2Upload($event)">
                </div>
                <br>
                <br>

                <hr>
                <h6>faces arrières</h6>

              <div class="upload">
                <input type="file"  name="gadfile3" id="gadfile3" required (change)="onfileupload3($event)">
            </div>
<br><br>
<br>

              <div class="upload">

                <input type="file"  name="gadfile4" id="gadfile4" required (change)="onfileupload4($event)">
              </div>

            </div>

            </div>
            <div class="form-group">
              <div class="" *ngIf="loading">
                <mat-progress-spinner
                class="sipinner"
                [color]="color"
                [mode]="mode"
                [value]="value">
            </mat-progress-spinner>
              </div>
              <button hidden data-target=".editor" data-toggle="modal" id="ga"></button>

              <a class="btn validations" (click)="Insertgadget()">Enregistrer</a>
            </div>
          </form>

      </div>
        <!-- fin Gadgets-->
          <!-- 
        <app-cloth></app-cloth>
        -->
        <!-- vetement -->
         
        <div class="content tab-pane fade" id="v-pills-vetements" role="tabpanel" aria-labelledby="v-pills-vetements-tab">

          <div class="header">
            <h4 class="text-center">
              Ajouter un Vetement
            </h4>
          </div>
          <app-cloth></app-cloth>

        
      </div>
   
        <!-- fin vetement-->



        <!-- imprime -->


        <div class="content tab-pane fade" id="v-pills-imprime" role="tabpanel" aria-labelledby="v-pills-imprime-tab">

          <div class="header">
            <h4 class="text-center">
              Ajouter un Imprimé
            </h4>
          </div>
          <form action="">
            <div class="form-group">
              <span>Nom</span>
              <div class="form-content">
                <input type="text" name="name_print" [(ngModel)]="printdata.name_print">
              </div>

              <h6 style="margin-left: 50%;">categorie</h6>
                  <select  name="printcat" id="printcat" style="margin-left: 50%;" (change)="getcat($event)">

                  </select>

            </div>
            <div class="form-group">
              <span>Description</span>
              <div class="form-content">
                <textarea name="printcomment" id="" cols="60" rows="auto" required [(ngModel)]="printdata.comment"></textarea>

              </div>
            </div>
            <div class="form-group">
              <span>Prix</span>
              <div class="form-content">
                <input type="number" required name="printprice" [(ngModel)]="printdata.price">
              </div>
            </div>
            <div class="form-group">
              <span>Grammage</span>
              <div class="form-content">
                <ul class="list-cate">
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" name="gram" id="130g" class="form-check-inline" value="130g" [(ngModel)]="printdata.gram">130g
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" name="gram" id="170g" class="form-check-inline" value="170g" [(ngModel)]="printdata.gram">170g
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" name="gram" id="200g" class="form-check-inline" value="200g" [(ngModel)]="printdata.gram">200g
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" name="gram" id="250g" class="form-check-inline" value="250g" [(ngModel)]="printdata.gram">250g
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" name="gram" id="300g" class="form-check-inline" value="300g" [(ngModel)]="printdata.gram">300g
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" name="gram" id="350g" class="form-check-inline" value="350g" [(ngModel)]="printdata.gram">350g
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" name="gram" id="400g" class="form-check-inline" value="400g" [(ngModel)]="printdata.gram">400g
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <span>Type de Papier</span>
              <div class="form-content">
                <ul class="list-cate">
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" name="type_papier" class="form-check-inline" value="couché" [(ngModel)]="printdata.typ_pap">Couché
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" name="type_papier" class="form-check-inline" value="glacé" [(ngModel)]="printdata.typ_pap">Glacé
                      </label>
                    </div>
                  </li>
                </ul>

              </div>
            </div>
            <select name="format_papier" id="" [(ngModel)]="printdata.format_print">
              <option value="">Choisir le format papier</option>
              <option value="A1" >A1</option>
              <option value="A2" >A2</option>
              <option value="A3" >A3</option>
              <option value="A4" >A4</option>
              <option value="A5" >A5</option>
              <option value="A6" >A6</option>
            </select>
            <hr style="float: left;width: 100%;">
            <div class="form-group">
               <select name="couverture" id="" (change)="vernis($event)">
                    <option value="Pelliculage">Pelliculage</option>
                    <option value="Vernissage">Vernissage</option>
                  </select>
            </div>


                <div class="form-group vernis" *ngIf='p'>

                <span>Vernissage</span>
                <div class="form-content">
                  <ul class="list-cate">
                    <li>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" name="ver" class="form-check-inline" value="MAT" [(ngModel)]="printdata.typ_couv.verni">MAT
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" name="ver" class="form-check-inline" value="Brillant" [(ngModel)]="printdata.typ_couv.verni">Brillant
                        </label>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>

              <div class="form-group vernis" *ngIf='t'>
                <span> Pelliculage</span>
                <div class="form-content" >
                  <ul class="list-cate">
                    <li>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" name="pel" class="form-check-inline" value="MAT" [(ngModel)]="printdata.typ_couv.peli">MAT
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" name="pel" class="form-check-inline" value="Brillant" [(ngModel)]="printdata.typ_couv.peli">Brillant
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>


            <hr style="float: left;width: 100%;">
            <div class="form-group">
              <span>Volet</span>
              <div class="form-content">
                <ul class="list-cate">
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" name="vol" class="form-check-inline" value="2" [(ngModel)]="printdata.volet">2 Volets
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" name="vol" class="form-check-inline" value="3" [(ngModel)]="printdata.volet">3 Volets
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" name="vol" class="form-check-inline" value="4" [(ngModel)]="printdata.volet">4 Volets
                      </label>
                    </div>
                  </li>
                </ul>

              </div>
            </div>
            <hr style="float: left;width: 100%;">
            <div class="form-group">
              <span>Upload Design</span>
              <div class="form-content">
                <hr>
                <h6>faces avant</h6>
                <div class="upload">
                  <input type="file"  name="printfile1" id="printfile1" required (change)="ondispfile1Upload($event)">
                </div>

                <br><br>
                <br>

                <div class="upload">
                  <input type="file"  name="printfile2" id="printfile2" required (change)="ondispfile2Upload($event)">
                </div>
                <br>
                <br>

                <hr>
                <h6>faces arrières</h6>

              <div class="upload">
                <input type="file"  name="printfile3" id="printfile3" required (change)="onfileupload3($event)">
            </div>
<br><br>
<br>

              <div class="upload">

                <input type="file"  name="printfile4" id="printfile4" required (change)="onfileupload4($event)">
              </div>

            </div>

            </div>
            <div class="form-group">
              <button class="btn btn-danger annule" style="margin-left: 150px;">Annuler</button>
              <div class="" *ngIf="loading">
                <mat-progress-spinner
                class="sipinner"
                [color]="color"
                [mode]="mode"
                [value]="value">
            </mat-progress-spinner>
              </div>
              <button hidden data-target=".editor" data-toggle="modal" id="pr"></button>

              <a  class="btn validations"  (click)="Insertprint()" >Enregistrer</a>
            </div>
          </form>
        </div>

        <!-- fin imprime-->
        <!-- emballage -->
         <div class="content tab-pane fade" id="v-pills-emballage" role="tabpanel" aria-labelledby="v-pills-emballage-tab">
          <div class="header">
            <h4 class="text-center">
              Ajouter un Emballage
            </h4>
          </div>
          <form action="">
            <div class="form-group">
              <span>Nom</span>
              <div class="form-content">
                <input type="text" name="name_emb" [(ngModel)]="embdata.name_emb">
              </div>
              <h6 style="margin-left: 50%;">categorie</h6>
                <select name="categorypack" id="catpack" style="margin-left: 50%;" (change)="getcat($event)">

                </select>
            </div>
            <div class="form-group">
              <span>Description</span>
              <div class="form-content">
                <textarea name="embcomment" id="" cols="60" rows="auto" required [(ngModel)]="embdata.comment"></textarea>
              </div>
            </div>
            <div class="form-group">
              <span>Prix</span>
              <div class="form-content">
                <input type="number" required name="embprice" [(ngModel)]="embdata.price">
              </div>
            </div>
            <div class="form-group">
              <span>Dimension</span>
              <div class="form-content">
                <input type="number" name="embdim" [(ngModel)]="embdata.dim">
              </div>
            </div>
            <div class="form-group">
              <span>Matière</span>
              <div class="form-content">
                <ul class="list-cate">
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" name="sac" class="form-check-inline" value="Sachet bio" [(ngModel)]="embdata.mat">Sachet Bio
                      </label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" name="sac" class="form-check-inline" value="Sac etoilé" [(ngModel)]="embdata.mat">Sac etoilé
                      </label>
                    </div>
                  </li>
                </ul>

              </div>
            </div>
            <div class="form-group">
              <span>Couleur</span>
              <div class="form-content">
                <input type="color" value="#000000" name="textcolor">
              </div>
            </div>

            <div class="form-group">
              <span>Upload Design</span>
              <div class="form-content">
                <hr>
                <h6>faces avant</h6>
                <div class="upload">
                  <input type="file"  name="packfile1" id="packfile1" required (change)="ondispfile1Upload($event)">
                </div>

                <br><br>
                <br>

                <div class="upload">
                  <input type="file"  name="packfile2" id="packfile2" required (change)="ondispfile2Upload($event)">
                </div>
                <br>
                <br>

                <hr>
                <h6>faces arrières</h6>

              <div class="upload">
                <input type="file"  name="packfile3" id="packfile3" required (change)="onfileupload3($event)">
            </div>
<br><br>
<br>

              <div class="upload">

                <input type="file" name="packfile4" id="packfile4" required (change)="onfileupload4($event)">
              </div>

            </div>

            </div>
            <div class="form-group">
              <button class="btn btn-danger annule" style="margin-left: 150px;">Annuler</button>
              <div class="" *ngIf="loading">
                <mat-progress-spinner
                class="sipinner"
                [color]="color"
                [mode]="mode"
                [value]="value">
            </mat-progress-spinner>
              </div>
              <button hidden data-target=".editor" data-toggle="modal" id="em"></button>
              <a  class="btn validations"  (click)="Insertpack()">Enregistrer</a>
            </div>
          </form>
        </div>




        <!-- fin emballage-->
      <div class="tab-pane fade" id="v-pills-analytique" role="tabpanel" aria-labelledby="v-pills-analytique-tab">fairte</div>
      <div class="tab-pane fade" id="v-pills-produit" role="tabpanel" aria-labelledby="v-pills-produit-tab">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-affichage-tab" data-toggle="tab" data-target="#nav-affichage" type="button" role="tab" aria-controls="nav-affichage" aria-selected="true">Affichage</button>
              <button class="nav-link" id="nav-vetement-tab" data-toggle="tab" data-target="#nav-vetement" type="button" role="tab" aria-controls="nav-vetement" aria-selected="false"> Vetements</button>
              <button class="nav-link" id="nav-gadgets-tab" data-toggle="tab" data-target="#nav-gadgets" type="button" role="tab" aria-controls="nav-gadgets" aria-selected="false">Gadgets</button>
              <button class="nav-link" id="nav-imprimer-tab" data-toggle="tab" data-target="#nav-imprimer" type="button" role="tab" aria-controls="nav-imprimer" aria-selected="false">Imprimerie</button>
              <button class="nav-link" id="nav-cemballage-tab" data-toggle="tab" data-target="#nav-emballage" type="button" role="tab" aria-controls="nav-emballage" aria-selected="false">Emballages</button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <!-- ajout affichage -->
            <div class="tab-pane fade show active" id="nav-affichage" role="tabpanel" aria-labelledby="nav-affichage-tab">
              <div class="container fluid">
                <h4>Ajouter vos differents produits d'affichage ici</h4>
                 <form class="form-inline">
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <input type="text" name="" id="" class="form-control" placeholder="Entrer le type d'affichage" >
                        </div>
                      </div>
                       <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder=" Le prix" >
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder="La dimension" >
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder="grammage">
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <input  class="file" type="file" name="" id="">
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                          <textarea name="" id="" rows="4"  placeholder="description du produit"></textarea>
                          </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <input style="margin-top: 5px;" type="file" name="file" id="file">
                          </div>
                        </div>
                       <div class="col-6">
                          <input type="file" name="file" id="file">
                       </div>
                    </div>-->

                 </form>
                 <button style="margin-top:40px ;" type="submit" class="bouton">Ajouter le produit</button>
               </div>

            </div>
            <!-- fin ajout -->

            <!-- ajout vetement -->
            <div class="tab-pane fade" id="nav-vetement" role="tabpanel" aria-labelledby="nav-vetement-tab">
             <div class="container fluid">
              <h4>Ajouter vos vetement ici</h4>
               <form class="form-inline">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <input type="text" name="" id="" class="form-control" placeholder="Entrer le type de produit" >
                      </div>
                    </div>
                     <div class="col-6">
                        <div class="form-group">
                          <input type="text" name="" id="" class="form-control" placeholder=" Le prix" >
                        </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <input type="text" name="" id="" class="form-control" placeholder="La couleur" >
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <input type="text" name="" id="" class="form-control" placeholder="Le mode">
                        </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <input type="text" name="" id="" class="form-control" placeholder="La taille" >
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <input type="text" name="" id="" class="form-control" placeholder="Materiel" >
                        </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <input type="text" name="" id="" class="form-control" placeholder="Le type" >
                        </div>
                      </div>
                      <div class="col-6">
                          <input  class="file" type="file" name="file" id="file">
                     </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <textarea name="" id="" rows="4" placefolder="Description du produit"></textarea>
                    </div>

                </div>

               </form>
               <button type="submit" class="bouton">Ajouter le produit</button>
             </div>

            </div>
            <!-- fin ajout -->

            <!-- ajout gadgets -->
            <div class="tab-pane fade" id="nav-gadgets" role="tabpanel" aria-labelledby="nav-gadgets-tab">
              <div class="container fluid">
                <h4>Ajouter vos Gadgets ici</h4>
                 <form class="form-inline">
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <input type="text" name="" id="" class="form-control" placeholder="Entrer le type de gadgets" >
                        </div>
                      </div>
                       <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder=" Le prix" >
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder="La dimension" >
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder="La taille">
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder="Le diametre" >
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder="Materiel" >
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <input class="file" type="file" name="file" id="file">
                          </div>
                        </div>
                        <div class="col-6">
                          <textarea name="" id="" rows="4" placeholder="Description du produit"></textarea>
                       </div>
                    </div>

                 </form>
                 <button type="submit" class="bouton">Ajouter le produit</button>
               </div>


            </div>
            <!-- fin ajout -->

            <!-- ajout imprimé -->
            <div class="tab-pane fade " id="nav-imprimer" role="tabpanel" aria-labelledby="nav-imprimer-tab">
              <div class="container fluid">
                <h4>Ajouter vos produits imprimes ici</h4>

                 <form class="form-inline">
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <input type="text" name="" id="" class="form-control" placeholder="Entrer le type de produit" >
                        </div>
                      </div>
                       <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder=" Le prix" >
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder="la Dimension" >
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder="le grammage">
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder=" pelicule" >
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder="bordure" >
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder="Volet" >
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder="vernille" >
                          </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-6">
                          <div class="form-group">
                           <textarea name="" id="" rows="4" placeholder="Description du produit"></textarea>
                          </div>
                        </div>
                        <div class="col-6">
                          <input  class="file" type="file" name="file" id="file">
                       </div>

                    </div>

                 </form>
                 <button type="submit" class="bouton">Ajouter le produit</button>
               </div>

            </div>

            <!-- fin ajout -->

            <!-- ajout emballage -->
            <div class="tab-pane fade" id="nav-emballage" role="tabpanel" aria-labelledby="nav-emballage-tab">
              <div class="container fluid">
                <h4>Ajouter vos differents produits d'emballages ici</h4>
                 <form class="form-inline">
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <input type="text" name="" id="" class="form-control" placeholder="Entrer le type d'emballage" >
                        </div>
                      </div>
                       <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder=" Le prix" >
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder="La dimension" >
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder="Materiel">
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <input  class="file" type="file" name="file" id="file">
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <textarea name="" id=""  rows="4" placeholder="Description du produit"></textarea>
                          </div>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            c
                          </div>
                        </div>
                        <div class="col-6">
                          <input type="file" name="file" id="file">
                       </div>
                    </div>-->

                 </form>
                 <button style="margin-top:40px ;" >Ajouter le produit</button>
               </div>
            </div>
            <!-- fin ajout -->
          </div>
      </div>
    </div>
  </div>

  <div class="modal fade modal-p-bottom col editor" *ngIf="isdisp" >
    <div class="modal-dialog modal-lg modal-md modal-sm">
      <div class="modal-content" >
        <app-editor [disp_image]="disp_image" [dip]="mi" [name_prod]="category" [img_id]="img_id" [arg3]="arg3" [arg4]="arg4"></app-editor>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn  btn-block text-white float-right" data-dismiss="modal" style="background-color: #324161; text-align: center; width: 10%; margin-right: 50%;">fermer</button>
    </div>
  </div>
  </div>
  <div class="modal fade modal-p-bottom col editor" *ngIf="isgadget" >
    <div class="modal-dialog modal-lg modal-md modal-sm">
      <div class="modal-content" >
        <app-editor [disp_image]="disp_image" [dip]="mi" [name_prod]="category" [img_id]="img_id" [arg3]="arg3" [arg4]="arg4"></app-editor>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn  btn-block text-white float-right" data-dismiss="modal" style="background-color: #324161; text-align: center; width: 10%; margin-right: 50%;">fermer</button>
    </div>
  </div>
  </div>
 

  <div class="modal fade modal-p-bottom col editor" *ngIf="isprint" >
    <div class="modal-dialog modal-lg modal-md modal-sm">
      <div class="modal-content" >
        <app-editor [disp_image]="disp_image" [dip]="mi" [name_prod]="category" [img_id]="img_id" [arg3]="arg3" [arg4]="arg4"></app-editor>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn  btn-block text-white float-right" data-dismiss="modal" style="background-color: #324161; text-align: center; width: 10%; margin-right: 50%;">fermer</button>
    </div>
  </div>
  </div>


  <div class="modal fade modal-p-bottom col editor" *ngIf="ispack" >
    <div class="modal-dialog modal-lg modal-md modal-sm">
      <div class="modal-content" >
        <app-editor [disp_image]="disp_image" [dip]="mi" [name_prod]="category" [img_id]="img_id" [arg3]="arg3" [arg4]="arg4"></app-editor>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn  btn-block text-white float-right" data-dismiss="modal" style="background-color: #324161; text-align: center; width: 10%; margin-right: 50%;">fermer</button>
    </div>
  </div>
  </div>


<!--</div>-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  <script type="text/javascript">
  $(document).ready(function(){
    $('#r1').click(function(){
      $('#form2').hide();
    });
  });

 </script>

</body>



<!-- <div class="box" id="first" *ngIf="isfirst">
<h2 style="font-weight: bold;">Compte Partenaire</h2>
    <div class="page">
      <div class="title">
        <h3>Données personnelles</h3>
      </div>
        <div class="deb-form">
          <hr>
          <div class="tableau">
            <div class="tableau-gauche">

              <div class="input">
                <input type="text" placeholder="Prenom" name="lname">
              </div>
              <div class="input">
                <input type="text" placeholder="Nom" name="fname">
              </div>
              <div class="input">
                <input type="text" placeholder="Numéro de téléphone" name="phone" >
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="input">
                <input type="text" placeholder="Numéro whatsapp" name="phone1">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
            </div>

            <div class="tableau-droite">
              <div class="input">
                <input type="text" placeholder="E-mail" email="email">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="input">
                <input type="text" placeholder="Ville" name="city">
              </div>
              <div class="input">
                <input type="password" placeholder="Mot de passe" name="pwd">
              </div>
              <div class="input">
                <input type="password" placeholder="Entrez à nouveau votre mot de passe" name="cfpwd">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
          </div>
          <div class="bouton">
            <ul class="nav">
              <li>
                <button class="suit-3 suite btn btn-success">Suivant</button>
              </li>
            </ul>
          </div>
        </div>
    </div>
</div> -->


